<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- IOC 容器扫描 service,dao -->
    <context:component-scan base-package="net.dormforce.nuis.service"/>
    <context:component-scan base-package="net.dormforce.nuis.support.dao"/>

    <!-- 引入 数据源 配置文件 -->
    <context:property-placeholder location="classpath:settings.properties"/>

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="driverClass" value="${jdbc.driver}"/>
        <property name="user" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="maxPoolSize" value="${c3p0.maxPoolSize}"/>
        <property name="minPoolSize" value="${c3p0.minPoolSize}"/>
    </bean>

    <!-- MyBatis sessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 数据源 -->
        <property name="dataSource" ref="dataSource"/>
        <!-- 自动扫描 mybatis 映射文件 -->
        <property name="mapperLocations" value="classpath:mybatis_mapper/*.xml"/>
        <!-- 配置 pojo 别名 -->
        <property name="typeAliasesPackage" value="net.dormforce.nuis.support.pojo"/>
    </bean>

    <!-- MyBatis DAO Mapper -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- DAO 层所在的目录 -->
        <property name="basePackage" value="net.dormforce.nuis.support.dao"/>
        <!-- 注入 sessionFactory -->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>

    <!-- 事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 使用声明式事务 -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

</beans>